.button {

  &, &:link, &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.4rem 3.5rem;
    border-radius: 999rem;
    font-size: $default-font-size;
    border: none;

    @include respond(phone) {
      font-size: $default-font-size * .8;
      padding: 1rem 2rem;
    }
  }
  
  &:hover, &:focus {
    outline: none;
    cursor: pointer;
  }

  &.--white {
    color: $color-gray-dark;

    &, &::before, &::after {
      background: $color-white;
    }
  }

  &.--green {
    color: $color-white;

    &, &::before, &::after {
      background: $color-primary;
    }
  }

  @at-root %button--animated-before-after {
    content: '';
    position: absolute;
    top:0; right:0; bottom:0; left: 0;
    border-radius: 999rem;
    z-index: -1;
  }

  &.--animated {
    position: relative;
    transition: transform .2s ease-out, box-shadow .2s ease-out;

    &::after {
      @extend %button--animated-before-after;
      transition: opacity .5s, transform .4s;
      transform: scale(.9);
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);

      &::after {
        opacity: 0;
        transform: scale(1.5, 1.6);
      }
    }

    &:active, &:focus {
      transform: translateY(-1px);
      box-shadow: 0 .25rem .5rem rgba($color-black,.2);
    }
  }

  &.--pulse {
    animation: moveInFromBottom .4s ease-out .6s backwards;

    &::before {
      @extend %button--animated-before-after;
      animation: pulse 1.3s ease-out .4s infinite reverse;
      // animation: name duration timing-function delay iteration-count direction fill-mode; 
    }
    
    &:hover::before {
      animation: none;
    }
  }

}