.composition {

  position: relative;
  display: flex;
  justify-content: space-around;

  @include respond(tab-port) {
    margin-bottom: 15rem;
  }

  &:hover > :not(:hover) {
    transform: scale(.95);
  }

  .__photo {
    width: 50%;
    position: absolute;
    transition: all .2s;
    border-radius: 2px;
    box-shadow: .5rem 1.5rem 2rem rgba($color-black, .5);

    @include respond(tab-port) {
      position: relative;
      width: 40%;
    }

    &:hover {
      transform: translateY(-.5rem) scale(1.1);
      outline: 1.5rem solid $color-primary;
      outline-offset: 1.5rem;
      z-index: 1;
      box-shadow: .5rem 2rem 2.5rem rgba($color-black, .7);
    }

    &.--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }

    &.--p2 {
      left: 40%;
      top: 20%;

      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }

    &.--p3 {
      top: 5rem;
      left: 20%;

      @include respond(tab-port) {
        position: absolute !important;
        top: 20%; 
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

}