.form {

  .__group {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    .__input {
      padding: 1rem 1.5rem;
      border: none;
      display: block;
      width: 80%;
      border-bottom: 3px solid transparent;
      transition: all .3s;

      @include respond(tab-port) {
        width: 100%;
      }
  
      &::placeholder {
        color: $color-gray-dark-2;
      }
  
      &:focus {
        outline: none;
        border-bottom: 3px solid $color-primary-dark;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
      }
      &:invalid:focus {
        border-color: $color-secondary-dark;
      }
    }
  
    .__label {
      font-weight: 700;
      font-size: 1.2rem;
      margin-left: 1.6rem;
      display: block;
      transform: translateY(-3rem);
      opacity: 0;
      transition: transform .3s, opacity .3s;
    }
    // (input not empty)
    .__input:not(:placeholder-shown) + .__label {
      transform: translateY(.5rem);
      opacity: 1;
    }
  }


  .__radio-group {
    display: inline-block;
    width: 40%;
    margin-bottom: 1rem;
    padding-left: .5rem;

    @include respond(tab-port) {
      width: 49%;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    .__radio {
      display: none;
    }

    .__radio-label {
      --size: 2rem;

      position: relative;
      left: calc(var(--size) * 1.5);

      $check-outline: 0 0 0 calc(var(--size) * .25) $color-primary;
      
      &::before {
        content: '';
        position: absolute;
        right: calc(100% + var(--size) * .5);
        top: -.3rem;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background: transparent;
        border: .3rem solid transparent;
        box-shadow: $check-outline;
        transition: all .2s;
      }

      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;

        &::before {
          box-shadow: 
          $check-outline,
          0 0 1rem .5rem rgba($color-black, .25);
        }
      }

      @include respond(phone) {
        --size: 1.5rem;
      }

    }

    .__radio:checked + .__radio-label::before {
      background: $color-primary;
      border-color: rgba($color-white, .85);
    }
  }

  @include respond(tab-port) {
    .heading-secondary {
      margin-left: 0;
      margin-right: 0;
    }
  }

}