/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

@media print { 

  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  div h2,
  *::before,
  *::after,
  img {
    display: none !important;
  }

  * {
    background: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #000 !important;
    transform: none !important;
    border: none !important;
  }
  div, h1, section, a:link {
    margin: 0 auto!important;
    padding: 0 !important;
  }
  h1 {
    font-size: 3.5rem;
  }
  h1 small {
    font-size: 2rem;
  }
  h3, h4 {
    margin: 1rem 0 .3rem 0 !important;
  }
  p {
    margin: 0 0 1.5rem !important;
  }
  a:not(#logo)::after {
    display: inline !important;
    content: " [" attr(href) "]" !important;
  }



}