body {
  margin: 0;
  padding: 0;
  background: #4f4c58;
  font-family: sans-serif;
}

a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #c8c6ce;
  padding: 40px 80px;
  font-size: 40px;
  letter-spacing: 2.66667px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 24px 64px rgba(0, 0, 0, 0.5);
          box-shadow: 0 24px 64px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

a:before {
  content: '';
  position: absolute;
  top: 2.66667px;
  left: 2.66667px;
  bottom: 2.66667px;
  width: 50%;
  background: rgba(255, 255, 255, 0.05);
}

a span:nth-child(1) {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2.66667px;
  background: -webkit-gradient(linear, left top, right top, from(#4f4c58), to(#c8c6ce));
  background: linear-gradient(to right, #4f4c58, #c8c6ce);
  -webkit-animation: animate1 1.5s linear infinite;
          animation: animate1 1.5s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  position: absolute;
  right: 0;
  top: -100%;
  width: 2.66667px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#4f4c58), to(#c8c6ce));
  background: linear-gradient(to bottom, #4f4c58, #c8c6ce);
  -webkit-animation: animate2 1.5s linear infinite;
          animation: animate2 1.5s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2.66667px;
  background: -webkit-gradient(linear, right top, left top, from(#4f4c58), to(#c8c6ce));
  background: linear-gradient(to left, #4f4c58, #c8c6ce);
  -webkit-animation: animate3 1.5s linear infinite;
          animation: animate3 1.5s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 2.66667px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#4f4c58), to(#c8c6ce));
  background: linear-gradient(to top, #4f4c58, #c8c6ce);
  -webkit-animation: animate4 1.5s linear infinite;
          animation: animate4 1.5s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
/*# sourceMappingURL=style.css.map */