button#wahoo {
  outline: none;
}

.mario-block {
  width: 16em;
  height: 16em;
  margin: 5em 0;
}

button#wahoo:active + .mario-block {
  -webkit-animation: wahoo .8s ease-in-out;
          animation: wahoo .8s ease-in-out;
}

@-webkit-keyframes wahoo {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(10em, -7em) rotate(-25deg);
            transform: translate(10em, -7em) rotate(-25deg);
  }
  70% {
    -webkit-transform: translate(20em, -3em) rotate(0deg);
            transform: translate(20em, -3em) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(20em, 1em) rotate(0deg);
            transform: translate(20em, 1em) rotate(0deg);
  }
}

@keyframes wahoo {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(10em, -7em) rotate(-25deg);
            transform: translate(10em, -7em) rotate(-25deg);
  }
  70% {
    -webkit-transform: translate(20em, -3em) rotate(0deg);
            transform: translate(20em, -3em) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(20em, 1em) rotate(0deg);
            transform: translate(20em, 1em) rotate(0deg);
  }
}

.mario {
  width: 1em;
  height: 1em;
  -webkit-box-shadow: 5em 0em red, 6em 0em red, 7em 0em red, 8em 0em red, 9em 0em red, 12em 0em wheat, 13em 0em wheat, 14em 0em wheat,  4em 1em red, 5em 1em red, 6em 1em red, 7em 1em red, 8em 1em red, 9em 1em red, 10em 1em red, 11em 1em red, 12em 1em red, 13em 1em wheat, 14em 1em wheat,  4em 2em brown, 5em 2em brown, 6em 2em brown, 7em 2em wheat, 8em 2em wheat, 9em 2em black, 10em 2em wheat, 12em 2em red, 13em 2em red, 14em 2em red,  3em 3em brown, 4em 3em wheat, 5em 3em brown, 6em 3em wheat, 7em 3em wheat, 8em 3em wheat, 9em 3em black, 10em 3em wheat, 11em 3em wheat, 12em 3em wheat, 13em 3em red, 14em 3em red,  3em 4em brown, 4em 4em wheat, 5em 4em brown, 6em 4em brown, 7em 4em wheat, 8em 4em wheat, 9em 4em wheat, 10em 4em black, 11em 4em wheat, 12em 4em wheat, 13em 4em wheat, 14em 4em red,  3em 5em brown, 4em 5em brown, 5em 5em wheat, 6em 5em wheat, 7em 5em wheat, 8em 5em wheat, 9em 5em black, 10em 5em black, 11em 5em black, 12em 5em black, 13em 5em red, 14em 5em red,  5em 6em wheat, 6em 6em wheat, 7em 6em wheat, 8em 6em wheat, 9em 6em wheat, 10em 6em wheat, 11em 6em wheat, 12em 6em red, 13em 6em red,  2em 7em red, 3em 7em red, 4em 7em red, 5em 7em red, 6em 7em blue, 7em 7em red, 8em 7em red, 9em 7em red, 10em 7em blue, 11em 7em red, 12em 7em red,  15em 7em brown,  0em 8em wheat, 1em 8em wheat, 2em 8em red, 3em 8em red, 4em 8em red, 5em 8em red, 6em 8em red, 7em 8em blue, 8em 8em red, 9em 8em red, 10em 8em red, 11em 8em blue,  14em 8em brown, 15em 8em brown,  0em 9em wheat, 1em 9em wheat, 2em 9em wheat, 3em 9em red, 4em 9em red, 5em 9em red, 6em 9em red, 7em 9em blue, 8em 9em blue, 9em 9em blue, 10em 9em blue, 11em 9em yellow, 12em 9em blue, 13em 9em blue, 14em 9em brown, 15em 9em brown,  1em 10em wheat,  4em 10em blue, 5em 10em red, 6em 10em blue, 7em 10em blue, 8em 10em yellow, 9em 10em blue, 10em 10em blue, 11em 10em blue, 12em 10em blue, 13em 10em blue, 14em 10em brown, 15em 10em brown,  2em 11em brown, 3em 11em brown, 4em 11em brown, 5em 11em blue, 6em 11em blue, 7em 11em blue, 8em 11em blue, 9em 11em blue, 10em 11em blue, 11em 11em blue, 12em 11em blue, 13em 11em blue, 14em 11em brown, 15em 11em brown,  1em 12em brown, 2em 12em brown, 3em 12em brown, 4em 12em blue, 5em 12em blue, 6em 12em blue, 7em 12em blue, 8em 12em blue, 9em 12em blue,  1em 13em brown, 2em 13em brown,  0em 0em;
          box-shadow: 5em 0em red, 6em 0em red, 7em 0em red, 8em 0em red, 9em 0em red, 12em 0em wheat, 13em 0em wheat, 14em 0em wheat,  4em 1em red, 5em 1em red, 6em 1em red, 7em 1em red, 8em 1em red, 9em 1em red, 10em 1em red, 11em 1em red, 12em 1em red, 13em 1em wheat, 14em 1em wheat,  4em 2em brown, 5em 2em brown, 6em 2em brown, 7em 2em wheat, 8em 2em wheat, 9em 2em black, 10em 2em wheat, 12em 2em red, 13em 2em red, 14em 2em red,  3em 3em brown, 4em 3em wheat, 5em 3em brown, 6em 3em wheat, 7em 3em wheat, 8em 3em wheat, 9em 3em black, 10em 3em wheat, 11em 3em wheat, 12em 3em wheat, 13em 3em red, 14em 3em red,  3em 4em brown, 4em 4em wheat, 5em 4em brown, 6em 4em brown, 7em 4em wheat, 8em 4em wheat, 9em 4em wheat, 10em 4em black, 11em 4em wheat, 12em 4em wheat, 13em 4em wheat, 14em 4em red,  3em 5em brown, 4em 5em brown, 5em 5em wheat, 6em 5em wheat, 7em 5em wheat, 8em 5em wheat, 9em 5em black, 10em 5em black, 11em 5em black, 12em 5em black, 13em 5em red, 14em 5em red,  5em 6em wheat, 6em 6em wheat, 7em 6em wheat, 8em 6em wheat, 9em 6em wheat, 10em 6em wheat, 11em 6em wheat, 12em 6em red, 13em 6em red,  2em 7em red, 3em 7em red, 4em 7em red, 5em 7em red, 6em 7em blue, 7em 7em red, 8em 7em red, 9em 7em red, 10em 7em blue, 11em 7em red, 12em 7em red,  15em 7em brown,  0em 8em wheat, 1em 8em wheat, 2em 8em red, 3em 8em red, 4em 8em red, 5em 8em red, 6em 8em red, 7em 8em blue, 8em 8em red, 9em 8em red, 10em 8em red, 11em 8em blue,  14em 8em brown, 15em 8em brown,  0em 9em wheat, 1em 9em wheat, 2em 9em wheat, 3em 9em red, 4em 9em red, 5em 9em red, 6em 9em red, 7em 9em blue, 8em 9em blue, 9em 9em blue, 10em 9em blue, 11em 9em yellow, 12em 9em blue, 13em 9em blue, 14em 9em brown, 15em 9em brown,  1em 10em wheat,  4em 10em blue, 5em 10em red, 6em 10em blue, 7em 10em blue, 8em 10em yellow, 9em 10em blue, 10em 10em blue, 11em 10em blue, 12em 10em blue, 13em 10em blue, 14em 10em brown, 15em 10em brown,  2em 11em brown, 3em 11em brown, 4em 11em brown, 5em 11em blue, 6em 11em blue, 7em 11em blue, 8em 11em blue, 9em 11em blue, 10em 11em blue, 11em 11em blue, 12em 11em blue, 13em 11em blue, 14em 11em brown, 15em 11em brown,  1em 12em brown, 2em 12em brown, 3em 12em brown, 4em 12em blue, 5em 12em blue, 6em 12em blue, 7em 12em blue, 8em 12em blue, 9em 12em blue,  1em 13em brown, 2em 13em brown,  0em 0em;
}
/*# sourceMappingURL=sandbox.css.map */