@charset "UTF-8";
.facebook-style-btn {
  font-size: .9rem;
  border-radius: 2px;
  padding: 6px 12px;
}

.facebook-style-btn.facebook-style-dark {
  background: #4267b2;
  color: #fff;
  border: 1px solid #4267b2;
}

.facebook-style-btn.facebook-style-dark:hover {
  background: #375694;
}

.facebook-style-btn.facebook-style-dark:active {
  background: #34518d;
  border-color: #375694;
}

.facebook-style-btn.facebook-style-light {
  background: #f6f7f9;
  color: #4b4f56;
  border: 1px solid #b9c1d0;
}

.facebook-style-btn.facebook-style-light:hover {
  background: #eaecf1;
}

.facebook-style-btn.facebook-style-light:active {
  background: #d7dce5;
  border-color: #eaecf1;
}

.btn-3d-1 {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background: orangered;
  border: none;
  color: white;
  -webkit-box-shadow: -6px 6px 0 0 #b33000;
          box-shadow: -6px 6px 0 0 #b33000;
  outline: none;
  position: relative;
}

.btn-3d-1::before, .btn-3d-1::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
}

.btn-3d-1::before {
  left: -6px;
  top: 0;
  border: 3px solid #b33000;
  border-top: 3px solid #0000;
  border-left: 3px solid #0000;
}

.btn-3d-1::after {
  right: 0;
  bottom: -6px;
  border: 3px solid #b33000;
  border-right: 3px solid #0000;
  border-bottom: 3px solid #0000;
}

.btn-3d-1:hover {
  background: #e63e00;
}

.btn-3d-1:active {
  left: -3px;
  bottom: -3px;
  -webkit-box-shadow: -3px 3px 0 0 #b33000;
          box-shadow: -3px 3px 0 0 #b33000;
  background: #cc3700;
}

.btn-3d-1:active::before, .btn-3d-1:active::after {
  border-width: 1.5px;
}

.btn-3d-1:active:before {
  left: -3px;
}

.btn-3d-1:active:after {
  bottom: -3px;
}

.btn-3d-2 {
  font-size: 1.4rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  color: white;
  background: radial-gradient(#f5f500, #a3a300);
  border: 1px solid gray;
  outline: none;
  text-shadow: 1px -1px 0 #cccc00;
  -webkit-box-shadow: inset 0 1px 0 yellow, 0 1px 0 0 #999900, 0 2px 0 0 olive, 0 3px 0 0 #6b6b00, 0 4px 0 0 #5c5c00, 0 6px 0 0 #525200, 0 7px 0 0 #4d4d00, 0 8px 0 0 #424200, 0 9px 0 0 #3d3d00, 0 10px 0 0 #383800;
          box-shadow: inset 0 1px 0 yellow, 0 1px 0 0 #999900, 0 2px 0 0 olive, 0 3px 0 0 #6b6b00, 0 4px 0 0 #5c5c00, 0 6px 0 0 #525200, 0 7px 0 0 #4d4d00, 0 8px 0 0 #424200, 0 9px 0 0 #3d3d00, 0 10px 0 0 #383800;
}

.btn-3d-2:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.btn-3d-2:active {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: inset 0 1px 0 yellow, 0 1px 0 0 #999900, 0 2px 0 0 olive, 0 3px 0 0 #6b6b00, 0 4px 0 0 #5c5c00, 0 6px 0 0 #525200, 0 7px 0 0 #4d4d00;
          box-shadow: inset 0 1px 0 yellow, 0 1px 0 0 #999900, 0 2px 0 0 olive, 0 3px 0 0 #6b6b00, 0 4px 0 0 #5c5c00, 0 6px 0 0 #525200, 0 7px 0 0 #4d4d00;
}

.gradient-button-1,
.gradient-button-2 {
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background: transparent;
  -webkit-transition: color .2s ease-in-out, background .2s ease-in-out;
  transition: color .2s ease-in-out, background .2s ease-in-out;
}

.gradient-button-1 {
  color: orangered;
  border: 10px solid transparent;
  -o-border-image: linear-gradient(to top right, orangered, yellow);
     border-image: -webkit-gradient(linear, left bottom, right top, from(orangered), to(yellow));
     border-image: linear-gradient(to top right, orangered, yellow);
  border-image-slice: 1;
}

.gradient-button-1:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(orangered), to(yellow));
  background: linear-gradient(to top right, orangered, yellow);
  color: white;
}

.gradient-button-2 {
  color: orangered;
  border: 4px solid transparent;
  -o-border-image: linear-gradient(to right, orangered, transparent);
     border-image: -webkit-gradient(linear, left top, right top, from(orangered), to(transparent));
     border-image: linear-gradient(to right, orangered, transparent);
  border-image-slice: 1;
}

.gradient-button-2:hover {
  background: -webkit-gradient(linear, left top, right top, from(orangered), to(transparent));
  background: linear-gradient(to right, orangered, transparent);
  color: white;
  border-right: none;
}

.animated-button-1,
.animated-button-2 {
  font-size: 1.4rem;
  color: white;
  padding: 1.2rem 2rem;
  border: 1px solid #555;
}

.animated-button-1 {
  background: url(pattern.png);
  background-size: 40px;
}

.animated-button-1:hover {
  -webkit-animation: loading-button 1s linear infinite backwards;
          animation: loading-button 1s linear infinite backwards;
}

@-webkit-keyframes loading-button {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 40px;
  }
}

@keyframes loading-button {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 40px;
  }
}

.animated-button-2 {
  background: #42b4b5;
  -webkit-transition: padding .2s ease-out;
  transition: padding .2s ease-out;
  position: relative;
}

.animated-button-2::after {
  content: '»';
  position: absolute;
  opacity: 0;
  right: .9rem;
  -webkit-transition: opacity .2s ease-out, right .2s ease-out;
  transition: opacity .2s ease-out, right .2s ease-out;
}

.animated-button-2:hover {
  padding: 1.2rem 2.7rem 1.2rem 1.3rem;
}

.animated-button-2:hover::after {
  opacity: 1;
  right: 1.1rem;
}

.toggle-1 {
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  vertical-align: top;
}

.toggle-1 .toggle-1__input {
  display: none;
}

.toggle-1 .toggle-1__button {
  display: inline-block;
  width: 5rem;
  height: 2rem;
  background: #aaa;
  cursor: pointer;
  position: relative;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.toggle-1 .toggle-1__button::before {
  position: absolute;
  top: calc(50% - 10px);
  right: 2em;
  display: inline-block;
  content: 'OFF';
  padding: 2px .2rem 0;
  font-size: 1rem;
  background: white;
  color: #aaa;
  line-height: 1.2;
  letter-spacing: 1px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.toggle-1 .toggle-1__input:checked + .toggle-1__button {
  background: #00b3b4;
}

.toggle-1 .toggle-1__input:checked + .toggle-1__button::before {
  content: 'ON';
  color: #00b3b4;
  right: .4em;
}

.toggle-2 {
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.toggle-2 .toggle-2__input {
  display: none;
}

.toggle-2 .toggle-2__button {
  color: #aaa;
  background: #eee;
  padding: .5rem 1rem;
  border: 1px solid #aaa;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.toggle-2 .toggle-2__button::before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 .3rem .4px -.1rem;
  background: #aaa;
  border-radius: 50%;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.toggle-2 .toggle-2__input:checked + .toggle-2__button {
  color: white;
  background: #00b3b4;
}

.toggle-2 .toggle-2__input:checked + .toggle-2__button::before {
  background: white;
}
/*# sourceMappingURL=sandbox.css.map */