.sandbox {
  --primary-color: orangered;
  --secondary-color: hotpink;
  --base-measurement: 20px;
}

.sandbox .box {
  --box-size: calc( var(--base-measurement) * 10 );

  width: var(--box-size);
  line-height: var(--box-size);
  
  margin: var(--base-measurement);
  color: white;
  text-align: center;

  background: var(--primary-color);
}

.sandbox .box2 {
  background: var(--secondary-color);
}