.logo {
  display: inline-block;
  color: var(--clr-gray-3);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  height: 1em;
}

.logo::before,
.logo::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 4px;
  border-radius: 5px;
  left: 100%;
  top: 0;
}

.logo::before {
  background: var(--clr-blue-2);
  transform: rotate(-45deg);
}

.logo::after {
  background: var(--clr-green-1);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.logo:hover {
  color: var(--clr-blue-3);
}