.cta {
  text-align: center;
  font-size: 1.5rem;
  padding: 1em;
}

.cta__button {
  font-size: 1.5rem;
  background: var(--clr-blue-2);
  padding: .7em 1.2em;
  color: #fff;
  border-radius: 5em;
  border: none;
  font-weight: bold;
  outline: none;
}

@media (min-width: 1024px) {
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
  }

  .cta__label {
    margin: 0;
  }

  .cta__button {
    margin: 0 2em;
  }

  .cta__button:hover {
    cursor: pointer;
  }
}