.sticky-header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 300px;
  background: #f24b5baa;
  transform: scaleY(.7);
  transform-origin: top;
}
.sandbox{
  margin-top: 210px;
}