*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  
  @include respond(phone-small) { font-size: 43.75%  } // 7px
  @include respond(phone      ) { font-size: 50%     } // 8px
  @include respond(tab-port   ) { font-size: 53.125% } // 8.5px
  @include respond(tab-land   ) { font-size: 56.25%  } // 9px

  @include respond(big-desktop) { font-size: 75%     } // 12px
}

body {
  padding: 2rem;
}

ul {
  list-style-type: none;
}

input {
  font: inherit;
}