body {
  font-size: $default-font-size;
  font-family: "Lato", sans-serif;
  color: $color-gray-dark;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 5rem;

  .__main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3rem;
    font-weight: 400;
    animation: moveInFromLeft 1s ease-out;
  }
  .__sub {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1.6rem;
    font-weight: 700;
    animation: moveInFromRight 1s ease-out;
  }

}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform .2s, text-shadow .2s;
  @include gradient-text;
  display: block;

  &:hover {
    transform: skew(5deg, 2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}