body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero h1 {
  font-size: 3rem;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right,
  rgba(255, 0, 0, 0.151),
  rgba(0, 255, 128, 0.219));
  color: white;
  margin-bottom: 50px;
  overflow: hidden;
  min-height: 50vh;
}

.video-bg {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.intro {
  text-align: center;
  margin: 3rem auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 0 4rem;
}
.intro h2 {
  font-size: 1.8rem;
}

@media (max-width: 486px) {
  .row {
    display: block;
    padding: 0 1.5rem;
  }
}