* {
    margin: 0;
}

.slideshow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    height: 100vh;
    background: #7f807d66;

    .content {
        position: relative;
        padding-top: 30vh;
        width: 200px;
        perspective: 1000px;
    }
}

.content__carrousel {
    width: 100%;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
    @keyframes rotar {
        from { transform: rotateY(0deg); }
        to { transform: rotateY(360deg); }
    }

    &:hover {
        animation-play-state: paused;
        cursor: pointer;
    }
    
    figure {
        position: absolute;
        width: 100%;
        height: 120px;
        box-shadow: 0 0 20px rgba(black, 0.6);
        border-radius: 5px;
        overflow: hidden;
        
        @mixin Child($nth) {
            &:nth-child(#{$nth}) {
                &, &:hover {
                    transition: 300ms;
                }
                & {
                    transform: rotateY(($nth - 1)*40deg) translateZ(300px);
                }
                &:hover {
                    transform: rotateY(($nth - 1)*40deg) translateZ(300px) scale(1.2);
                }
            }
        }
        
        @for $nth from 1 through 9 { 
            @include Child($nth);
        }
    }
    
    img {
        width: 100%;
        height: 100%;
        image-rendering: optimizeQuality;
        transition: 300ms;
    }
}

