.shadow-typo {
  font-size: 5rem;
  text-transform: uppercase;
  color: #42b4b5;
  text-shadow: 3px 3px 0 #ebeceb,
               8px 8px 0 #0001;
}

.threedee-typo {
  $red: #f24b5b;

  font-size: 5rem;
  text-transform: uppercase;
  transform: skew(-5deg, -5deg) rotate(5deg);
  transform-origin: center center;
  color: $red;
  text-shadow: 1px 1px darken($red, 22%),
               2px 2px darken($red, 22%),
               3px 3px darken($red, 22%),
               4px 4px darken($red, 22%),
               5px 5px darken($red, 22%),
               6px 6px darken($red, 22%),
               7px 7px darken($red, 22%),
               8px 8px darken($red, 29%),
               9px 9px darken($red, 29%),
               10px 10px darken($red, 29%),
               11px 11px 15px #0007,
  ;
}