@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #2f303a;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
}

.main-nav ul, .footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a, .footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav, .footer-nav a:hover {
  color: #adadad;
}

.main-header, .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 140px;
}

.main-footer {
  height: 70px;
  background-color: #202027;
  font-weight: bold;
}

.social-link img {
  width: 1em;
  margin-right: .25rem;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn {
  color: white;
  background-color: #1762a7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2180d8;
}

.btn:focus {
  background-color: #2796ff;
}

.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(188, 58, 128, .1);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(52, 87, 178, .1);
  top: 15vh;
  left: 30vw;
  z-index: -1;
}

.home-page-circle-3 {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.home-page-circle-3::before {
  content: '';
  transform: translate(20vw, 20vw);
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(52, 87, 178, .1);
  border-radius: 50%;
}