.pricing-table {
  display: flex;
}


.pricing-block {
  flex: 1;
  margin: auto 2% auto 0;
  border-radius: 5px;
  background: #fefefe;
  overflow: hidden;

  display: flex
  flex-direction: column;
  text-align: center;
}


.pricing-header {
  padding: 2.5rem 0;
  text-transform: uppercase;
}
.pricing-heading {
  font-size: 1.4rem;
  font-weight: 700;
}
.pricing-price {
  color: #777;
}
.pricing-price__value {
  line-height: 120%;
  font-size: 5rem;
}
.pricing-price__currency,
.pricing-price__duration {
  display: inline-block;
  vertical-align: top;
  opacity: .6;
  font-size: 1.5rem;
  margin-top: .7rem;
}
.pricing-price__currency {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 2rem;
}


.pricing-features {
  display: flex;
  flex-direction: column;
}
.pricing-features li {
  display: inline-block;
  padding: .8rem;
  margin: 0;
}
.pricing-features li:nth-child(odd) {
  background: #f6f6f6;
}


.pricing-footer a {
  display: block;
  padding: 1rem 0;
  margin-top: 3rem;
  background: black;
  color: white;
  border: none;
  text-transform: uppercase;
}


.pricing-popular .pricing-price {
  color: #ff8888;
}
.pricing-popular .pricing-button {
  background: #ff8888;
}


@media screen and ( max-width: 1023px) {
  .pricing-table {
    flex-direction: column;
  }
  .pricing-block {
    margin: 2% 0;
  }

  .pricing-body {
    overflow: auto;
  }
  .pricing-features {
    display: inline-block;
    flex-direction: row;
    white-space: nowrap;
  }
  .pricing-features li:nth-child(even) {
    background: #ddd;
  }
}